
Hello {{$ctrl.user}}

<p> 
    <!-- <a download ng-href="http://api.github.com/users/piersbrennandfrancis">Download JSON</a> -->
    <!-- <a href="" ng-click="fetchGithubResource()">Download JSON Stuff</a> -->
    <!-- <button type="button" ng-csv="$ctrl.getJson()" csv-header="['header1', 'header2']" filename="test2.csv">Export</button> -->
    <a type="button" 
    ng-csv="$ctrl.generateAdminMembersCsv()" 
    lazy-load="true" 
    csv-header="$ctrl.csvConfig.csvHeader"
    filename="{{$ctrl.csvConfig.filename}}">Export</a>

</p>

<!-- <p>{{$ctrl.memberCount(5).count}}</p> -->

<div ng-repeat='id in $ctrl.ids'>
    <span ng-init="$ctrl.memberCount(id)">{{$ctrl.countObj.count}}</span>
</div>



